<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/favicon.png" type="image/png" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Home Page</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>
    <h1 id="title">
      Hello <%= user ? user.username[0].toUpperCase() + user.username.slice(1) :
      "there" %>, welcome to OpenHouse!
    </h1>
    <img id="background-image" src="/img/house.png" alt="An image of a house" />
  </body>
</html>
